{% extends "book_outlet/base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "book_outlet/index.css" %}">
{% endblock css_files %}

{% block title %}
    All Books
{% endblock title %}

{% block content %}

    {% include "book_outlet/includes/header.html" %}
    
    <div  class="container">
        <ul>
            {% for book in books %}
            <a href="{{ book.get_absolute_url }}"><div id="book-element">
                    <li>{{ book.title }}</li>
                </div></a>
            {% endfor %}
        </ul>
    </div>

    <div id="meta-details">
        <p id="para-1">Total no. of  Books: {{total_books}}</p>
        <p id="para-2">Average Rating: 
            {% if avg_rating.rating__avg == None %}
                0
            {% else %}
            {{avg_rating.rating__avg|floatformat:1}}
            {% endif %}
        </p>
    </div>
{% endblock content %}